.content {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 0 0 35px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
  margin-left: 450px;
  margin-top: 50px;
}

.heading {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 0 0 35px;
  padding: 45px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 450px;
  margin-top: 50px;
}
